<!-- info section -->
<section class="info_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info-logo">
          <h2>
            SACIM
          </h2>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info-nav">
          <h4>
            Navegación
          </h4>
          <ul>
            <li>
              <a href="index.html">
                Home
              </a>
            </li>
            <li>
              <a href="about.html">
                About
              </a>
            </li>
            <li>
              <a href="service.html">
                Services
              </a>
            </li>
            <li>
              <a href="contact.html">
                Contact Us
              </a>
            </li>
            <li>
              <a href="#">
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info-contact">
          <h4>
            Información de contacto
          </h4>
          <div class="location">
            <h6>
              Dirección de la oficina corporativa:
            </h6>
            <a href="">
              <img src="images/location.png" alt="">
              <span>
                Cl 31 sur 9 03 este
              </span>
            </a>
          </div>
          <div class="call">
            <h6>
              Servicio al cliente:
            </h6>
            <a href="">
              <img src="images/telephone.png" alt="">
              <span>
                ( +57 321 265 68 20 )
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="discover">
          <h4>
            Discover
          </h4>
          <ul>
            <li>
              <a href="">
                Help
              </a>
            </li>
            <li>
              <a href="">
                How It Works

              </a>
            </li>
            <li>
              <a href="">
                subscribe
              </a>
            </li>
            <li>
              <a href="contact.html">
                Contact Us
              </a>
            </li>
          </ul>
          <div class="social-box">
            <a href="">
              <img src="images/facebook.png" alt="">
            </a>
            <a href="">
              <img src="images/twitter.png" alt="">
            </a>
            <a href="">
              <img src="images/google-plus.png" alt="">
            </a>
            <a href="">
              <img src="images/linkedin.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- end info_section -->
<!--footer class="container-xxl">
    <hr>
    <p class="text-center">© 2024 SACIM Control parqueadero motos.</p>
    <p class="text-center">Todos los derechos reservados.</p>
    <div class="row">
        <div class="col">
            <a href="#facebook">
                <img class="imglogo" src="/static/img/facebooklogo.png" class="img-fluid">
            </a>

          </div>
        <div class="col">
            <a href="#facebook">
                <img class="imglogo"  src="/static/img/logoyoutube.png" class="img-fluid">
            </a>
          </div>
        <div class="col">
            <a href="#facebook">
                <img class="imglogo"  src="/static/img/wasahtplogo.jpeg" class="img-fluid">
            </a>
          </div>
        <div class="col">
            <a href="#facebook">
                <img class="imglogo"  src="/static/img/Xloo.png">
            </a>
          </div>
        </div>
</footer-->