<!-- info section -->
<section class="info_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info-logo">
          <h2>
            SACIM
          </h2>
          <p>
           Plataforma de control de parqueaderos grandes o pequeños.
          </p>
        </div>
      </div>
    <div class="col-md-3">
      <div class="info-nav">
        <h4>
          Navegación
        </h4>
        <ul>
          <li>
            <a href="/user">Usuarios</a>
          </li>
          <li>
            <a href="/vehiculo">Vehículos</a>
          </li>
          <li>
            <a href="/valores">Valores</a>
          </li>
          <li>
            <a href="/movimientos">Movimientos</a>
          </li>
          <li>
            <a href="/parqueadero">Parqueadero</a>
          </li>
          <li>
            <a href="/informes">Informes</a>
          </li>
          <li>
            <a href="/pagos">Pagos</a>
          </li>
        </ul>
      </div>
    </div>

      <div class="col-md-3">
        <div class="info-contact">
          <h4>
            Información de contacto
          </h4>
          <div class="location">
            <a href="">
              <span>
                Dirección de la oficina corporativa:
              </span>
              <span>
                Cl 31 sur 9 03 este
              </span>
            </a>
          </div>
          <div class="call">
            <a href="">

              <span>
              Servicio al cliente:
              </span>

              <span>
                ( +57 321 265 68 20 )
              </span>

            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="discover">
          <h4>
            Descubrir
          </h4>
          <ul>
            <li>
              <a href="/#contactos">
                Contactenos
              </a>
            </li>
          </ul>
          <div class="social-box">
            <a href="">
              <img src="static/img/facebook.png" alt="">
            </a>
            <a href="">
              <img src="static/img/twitter.png" alt="">
            </a>
            <a href="">
              <img src="static/img/google-plus.png" alt="">
            </a>
            <a href="">
              <img src="static/img/linkedin.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</html>
