<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="preload" href="/static/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/static/css/bootstrap.min.css"></noscript>


<link rel="preload" href="/static/css/css.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/static/css/css.min.css?11octubre2025"></noscript>

    <script src="/static/js/bootstrap.bundle.min.js" async></script>
    <script src="/static/js/fontawesome.js" async></script>
    <script src="/static/js/js.min.js" async></script>


    <title>sacim</title>
    <link rel="icon" href="/static/img/favicon.ico">
</head>