<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a69653cc88.js" crossorigin="anonymous"></script>
    <title>sacim</title>
    <link rel="stylesheet" href="/static/css.css">
    <script src="/static/js.js"></script>
    <link rel="icon" href="/static/img/favicon.ico">
</head>