<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/user/bienvenido">Inicio</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Usuarios</a>
                </li>
                  <hr>
                <li class="nav-item">
                    <a class="nav-link" href="/parqueadero">Parqueaderos</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link" href="/vehiculo">Vehículos</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link" href="/cobros">Cobros</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link" href="/user/myprofile/0">Perfil</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">Cerrar sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{#if meesaje}}
    <div class="alert alert-{{meesaje.estado}}" role="alert">
    {{meesaje.text}}
    </div>
{{/if}}
