<div class="hero_area">
<!-- header section strats -->
<header class="header_section">
    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
        <span>
            SACIM
        </span>
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html"> About </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="service.html"> Services </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            </ul>
        </div>
        </div>
        <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
        <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
        </form>
    </nav>
    </div>
</header>
<!-- end header section -->

</div>


{{#if meesaje}}

<section class="contact_section layout_padding">
  <div class="container my-3">
    <div class="row">
      <div class="col-md-2"></div> <!-- espacio izquierdo -->
      <div class="col-md-8">
        <div class="alert alert-{{meesaje.estado}}" role="alert">
          {{meesaje.text}}
        </div>
      </div>
      <div class="col-md-2"></div> <!-- espacio derecho -->
    </div>
  </div>
</section>

{{/if}}


<!--
Nenu login
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/user/bienvenido">Inicio</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Usuarios</a>
                </li>
                  <hr>
                <li class="nav-item">
                    <a class="nav-link" href="/parqueadero">Parqueaderos</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link" href="/vehiculo">Vehículos</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link" href="/cobros">Cobros</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link" href="/user/myprofile/0">Perfil</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">Cerrar sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

->
