<div class="hero_area">
<!-- header section strats -->
<header class="header_section">
    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
        <span>
            SACIM
        </span>
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
                <li class="nav-item">
                    <a class="nav-link" href="#servicios"> Servicios </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contactos">Contactos</a>
                </li>
            </ul>
            <a href="/login">
            <button style="background-color: var( --color-salmon);
  padding: 4px;
  outline: none;
  border: none;
  border: 1px solid var( --color-salmon);
  color: #fff;
}" class="d-flex justify-content-center contact_section button">Iniciar sesión</button>
            </a>

        </div>
        </div>
        <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
        <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
        </form>
    </nav>
    </div>
</header>
<!-- end header section -->

</div>


{{#if meesaje}}
  {{#if meesaje.text}}
    <section class="contact_section layout_padding">
      <div class="container my-3">
        <div class="row">
          <div class="col-md-2"></div> <!-- espacio izquierdo -->
          <div class="col-md-8">
            <div class="alert alert-{{meesaje.estado}}" role="alert">
              {{meesaje.text}}
            </div>
          </div>
          <div class="col-md-2"></div> <!-- espacio derecho -->
        </div>
      </div>
    </section>
  {{/if}}
{{/if}}

