.col{
    max-width: 100px;
    display: flex;
    margin:auto;
    
}
.footer{
    max-width: 100px;
}

.container-xxl{
width: min-content;
text-align:end;
margin-left: 80%;
}

.container-xx2{
display:flexbox;
justify-content: center;
align-items: center;
margin-top: 50px;
}

.container-xx3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.bus-1{
    text-align: center;
width: 80%;
}

.container-xx4 {
margin-top: 70px;
display: flex;
justify-content: center;
}

.txt-1{
margin-right: 120px;
}

.ini-2{
    text-align: center;
    margin-top: 50px;
}