{{> layout}}
{{> header}}
{{> nav}}
    <div class="container-xxl container-xxlRolando">

        <h1>Celdas:</h1>
        <p><strong>Vacias:    </strong> 55 
        </p>
        <p><strong>Ocupadas:    </strong>2
        </p>      
    </div>
<div class="container-xx3">
<form method="GET" action="/vehiculo">
    <p>
        <strong>Placa:    </Strong>
        <input type="text" value="" name="placa">
        <img class="img" src="/static/img/lupaweb.jpg" width="30" height="30">
        <button class="btn btn-primary"  type="submit" value="Buscar">Buscar</button>

    </p>
</form>

    
</div>


{{> footer}}