{{> layout}}
{{> nav}}
<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="custom_heading-container">
        <h3 class=" ">
            SACIM Ingreso
        </h3>
    </div>
    <div class="container layout_padding2-top">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form action="/user/auth" method="post">
                    <div>
                        <!--label>correo</label-->
                        <input placeholder="Correo" id="usuario" class="usuario" name="usuario" type="text">
                    </div>
                    <div>
                        <!--label>contrase単a</label-->
                        <input placeholder="Contrase単a" id="password" class="password" name="password" type="password">
                        <i id="eye" class="fas fa-eye-slash" onclick="showpassword('password','eye')"></i>
                        <div class="d-flex justify-content-center ">
                            <button>
                                Ingresar
                            </button>
                        </div>

                </form>


                <div class="">
                    <a href="" id="rc">Recuperar contrase単a</a>
                </div>

            </div>
        </div>

    </div>
</section>

<!-- end contact section -->

<!--div class="container-xxl">
    <div>
        <P class="principalname"><b>SACIM</b></P>
        <p class="subtitle"><b>carros y motos</b></p>
    </div>
    <form action="/user/auth" method="post">
    {{#if meesaje}}
        <div class="alert alert-{{meesaje.estado}}" role="alert">
        {{meesaje.text}}
        </div>
    {{/if}}
        <div>
            <label>correo</label>
            <input id="usuario" class="usuario" name="usuario" type="text">
        </div>
        <div>

        </div>
    <diV>
        <a>
            <input type="submit" value="Ingresar" id="ingresar"></input>
        </a>
    </diV>
    </form>

    <div class="rcdiv">
        <a href="" id="rc">Recuperar contrase単a</a>
    </div>

</div-->

{{> footer}}