{{> layout}}
{{> header}}
{{> nav}}

<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="custom_heading-container">
        <h3 class=" ">
            Informes
        </h3>
    </div>
    <div class="container layout_padding2-top">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <table class="table">
                <thead>
                    <tr>
                        <th scope="row">Item</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/informes/backup">Backup de movimientos</a> </td>
                    </tr>
                    <!--tr>
                        <td><a href="/informes/ocupacionparqueadero">Estado de ocupación</a> </td>
                    </tr-->
                    <tr>
                        <td><a href="/informes/estadoplaca">Tiempo Gratuito</a> </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</section>



{{> footer}}