
{{> layout}}
{{> header}}

    <div>
        <P class="primer-parrafo"><b>SACIM</b></P>
        <p><b>Carros y motos</b></p>
    </div>
    <div class="espacio"></div>

    <form>
        <div class="campo">
            <label>Usuario</label>
            <input type="text">
        </div>

        <div class="campo">
            <label>Contraseña</label>
            <input type="password">
            <i class="fas fa-eye-slash"></i>
        </div>

    </form>
    <a href="../../bienvenido.html">
        <button id="ingresar"><b>ingresar</b></button>
      </a>
    <div class="new-line"></div>
    <a href="#" id="rc">Recuperar contraseña</a>
