{{> layout}}
{{> header}}

<div class="container-xxl">
    <div>
        <P class="principalname"><b>SACIM</b></P>
        <p class="subtitle"><b>carros y motos</b></p>
    </div>
    <form action="/user/auth" method="post">
        <div>
            <label>usuario</label>
            <input id="usuario" class="usuario" name="usuario" type="text">
        </div>
        <div>
            <label>contraseña</label>
            <input id="password" class="password" name="password" type="password">
            <i class="fas fa-eye-slash"></i>
        </div>
    <diV>
        <a>
            <input type="submit" value="Ingresar" id="ingresar"></input>
        </a>
    </diV>
    </form>

    <div class="rcdiv">
        <a href="" id="rc">Recuperar contraseña</a>
    </div>

</div>

{{> footer}}